ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.add-button {
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
}
