ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.item-container {
  max-width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 140px;
}

.add-button {
  margin: 0 auto;
  display: block;
}
