.goods-list {
  margin: 0;
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.goods-list li {
  width: fit-content;
  min-width: 10rem;
}

.add-button {
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
  font-size: large;
}

.add-button:hover {
  background-color: #0056b3;
  color: #fff;
}
