<h2 mat-dialog-title>New good for sale</h2>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="input">
      <mat-label>Good name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        name="description"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Select</mat-label>
      <mat-select name="category" formControlName="category">
        <mat-option value="clothes">Clothes</mat-option>
        <mat-option value="footwear">Footwear</mat-option>
        <mat-option value="toys">Toys</mat-option>
        <mat-option value="games">Games</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="input">
      <mat-label>Price</mat-label>
      <input
        matInput
        type="number"
        class="example-right-align"
        placeholder="0"
        name="price"
        formControlName="price"
      />
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Image</mat-label>
      <input matInput formControlName="image" />
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()" type="button">Cancel</button>
      <button mat-flat-button [disabled]="form.invalid" type="submit">
        Add
      </button>
    </div>
  </form>
</div>
