.form {
  margin: 0 auto;
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.form a {
  margin: 0 auto;
  color: darkblue;
}

.submitButton {
  width: fit-content;
  margin: 0 auto;
}

.errorMessage {
  margin: 0 auto;
  width: 16.25rem;
  text-align: center;
  background-color: rgb(231, 167, 167);
  color: red;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  border-radius: 0.25rem;
}
