/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

:root {
  @include mat.snack-bar-overrides(
    (
      container-color: #4caf50,
      supporting-text-color: white,
    )
  );
}
html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0 20px;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
