/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

:root {
  @include mat.snack-bar-overrides(
    (
      container-color: #4caf50,
      supporting-text-color: white,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
